<div class="container mt-2 mt-md-5 p-0 p-md-3">

    <div class="card mr-auto ml-auto col-lg-10" style="background-color: #f8f9f;">
        <h5 class="card-title text-center border-bottom m-0 mb-3 pb-3 pt-3"
            style="font-weight: 300; font-size: 1.5rem;">
            Aggregated Crypto Lending
            <fa-icon (click)="refresh()" *ngIf="!loading && !dataLoading" [icon]="refreshIcon"
                     style="font-size: 18px; cursor: pointer;"></fa-icon>
            <img *ngIf="dataLoading" alt="Loading..." class="loading-spinner" src="assets/loading.svg" width="32">
        </h5>
        <div class="card-body p-0 p-md-3">

            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
            <div *ngIf="!loading">

                <ngb-alert (close)="done = false" *ngIf="done" class="mb-5" type="success">
                    Transaction was successfully send.<br> <a
                    [href]="'https://etherscan.io/tx/' + transactionHash" target="_blank">{{transactionHash}}</a>
                </ngb-alert>

                <ngb-alert (close)="error = false" *ngIf="error" class="mb-5" type="danger">
                    An error is occured. Please try again or contact us.
                    If you are using Metamask, you can try to switch from mainnet to testnet and back to solve this
                    problem.
                </ngb-alert>

                <form #f="ngForm" class="pt-4 mb-4" novalidate>
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                            <small (click)="setFromTokenAmount()"
                                   class="form-text text-muted text-left position-relative mb-1"
                                   id="fromTokenBalance"
                                   style="margin-top: -23px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; cursor: pointer;">
                                Max: {{toFixed(fromTokenBalance, 12)}}
                                <span *ngIf="fromToken === 'ETH'">(-5% for gas)</span>
                            </small>
                            <input [formControl]="fromTokenAmountControl"
                                   aria-describedby="fromTokenBalance" autocomplete="off"
                                   class="form-control text-left" id="fromTokenAmount" inputmode="numeric"
                                   name="fromTokenAmount" numeric numericType="decimal" pattern="[0-9]*" placeholder="0"
                                   type="string">
                        </div>
                        <div class="form-group col-md-2">

                            <div #fromTokenDropDown="ngbDropdown" class="d-block mb-4 mb-md-0" ngbDropdown>
                                <button class="btn btn-block btn-outline-secondary text-left is-flex"
                                        id="fromTokenDropdown" ngbDropdownToggle
                                        type="button">
                                        <span>
                                            <img [src]="'assets/tokens/asset_' + tokens[fromToken].symbol + '.svg'"
                                                 class="mr-1"
                                                 style="width: 24px">

                                            {{fromToken}}
                                        </span>
                                </button>
                                <div aria-labelledby="fromTokenDropdown" ngbDropdownMenu>

                                    <div class="p-2 border-bottom">

                                        <input #fromTokenSearchField [formControl]="fromTokenSearchControl"
                                               autocomplete="off"
                                               class="form-control border-0" id="fromTokenSearch"
                                               placeholder='Try "DAI"' type="search">
                                    </div>

                                    <div id="fromTokenScrollArea">
                                        <div class="p-2">

                                            <ul class="list-group list-group-flush">
                                                <li (click)="setFromToken(token)"
                                                    *ngFor="let token of fromTokenSearchResults | async"
                                                    class="list-group-item">
                                                    <img
                                                        [src]="'assets/tokens/asset_' + token.symbol + '.svg'"
                                                        class="mr-1"
                                                        style="width: 16px">

                                                    {{token.symbol}}
                                                    <br>
                                                    <span *ngIf="token.balance"
                                                          class="text-secondary">{{toFixed(tokenService.formatAsset(token.symbol, token.balance), 18)}}</span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <!--                        <th scope="col" style="vertical-align: middle;">Token</th>-->
                        <th scope="col">Pool</th>
                        <th class="text-center" scope="col">Interest</th>
                        <th class="text-center" scope="col">Slippage</th>
                        <th class="text-center" scope="col">Balance</th>
                        <th class="text-center" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="!pools.length && dataLoading">
                        <td class="align-middle text-center p-3" colspan="5">
                            <img alt="Loading..." class="loading-spinner" src="assets/loading.svg" style="opacity: 0.1;"
                                 width="150">
                        </td>
                    </tr>
                    <tr *ngFor="let pool of pools">
                        <!--                        <td class="align-middle">-->
                        <!--                            <img [src]="'assets/tokens/asset_' + tokens[pool.token].symbol + '.svg'"-->
                        <!--                                 style="width: 32px">-->
                        <!--                            {{tokens[pool.token].symbol}}-->
                        <!--                        </td>-->
                        <td class="align-middle">
                            <img
                                [class]="(!themeService.isDarkMode && pool.lightThemeIconInvert) || (themeService.isDarkMode && pool.darkThemeIconInvert) ? 'invert-image' : ''"
                                [src]="'assets/pools/' + pool.icon"
                                class="mr-1"
                                style="width: 32px">
                            {{pool.title}}
                            <span *ngIf="pool.type === 'double' && fromToken !== 'ETH'">
                                <img [src]="'assets/tokens/asset_' + (pool.name === 'bancor' ? 'BNT' : 'ETH') + '.svg'"
                                     style="width: 24px">
                                <img [src]="'assets/tokens/asset_' + tokens[pool.token].symbol + '.svg'"
                                     style="width: 24px; margin-left: -8px;">
                            </span>
                        </td>
                        <td class="text-center align-middle">
                            <img *ngIf="pool.interest === null" alt="Loading..." class="loading-spinner" src="assets/loading.svg" width="32">
                            <span *ngIf="pool.interest !== null">
                                {{toFixed(pool.interest, 2)}}%
                            </span>
                        </td>
                        <td class="text-center align-middle">
                            <img *ngIf="pool.slippage === null" alt="Loading..." class="loading-spinner" src="assets/loading.svg" width="32">
                            <span *ngIf="pool.slippage !== null">
                                {{toFixed(pool.slippage, 2)}}%
                            </span>
                        </td>
                        <td class="text-center align-middle">
                            <div *ngIf="pool.type === 'double'" style="white-space: pre-wrap; font-size: 90%;">
                                <img *ngIf="pool.balance === null" alt="Loading..." class="loading-spinner" src="assets/loading.svg" width="32">
                                <span *ngIf="pool.balance !== null">
                                    {{pool.balance}}
                                </span>
                            </div>
                            <div *ngIf="pool.type !== 'double'">
                                <img *ngIf="pool.balance === null" alt="Loading..." class="loading-spinner" src="assets/loading.svg" width="32">
                                <span *ngIf="pool.balance !== null">
                                    {{pool.balance}}
                                </span>
                            </div>
                        </td>
                        <td class="text-right align-middle">
                            <div *ngIf="web3Service.walletAddress">
                                <button (click)="deposit(pool.name)" *ngIf="pool.approved"
                                        class="btn btn-sm btn-success mt-1">Deposit
                                </button>
                                <button (click)="approve(pool.name)" *ngIf="!pool.approved && pool.approved !== null"
                                        class="btn btn-sm btn-warning mt-1">
                                    Approve {{pool.token}}
                                </button>
                                <button (click)="withdraw(pool.name)" [disabled]="pool.balance === 0" class="btn btn-sm btn-danger ml-1 mt-1">
                                    Withdraw
                                </button>
                            </div>

                            <div *ngIf="!web3Service.walletAddress" class="text-center">
                                <button (click)="connect()" class="btn btn-sm btn-warning">
                                    Connect
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h6 class="text-center mt-3 p-3 p-md-0" style="font-size: 0.8rem;">
        Transactions on 1lend.io are up to 42% cheaper because of using <a
        href="https://gastoken.io" target="_blank">GasToken</a>.
    </h6>
</div>
